<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html" />
<title>wmamp</title>
<link rel="stylesheet" type="text/css" href="style.css" />
</head>
<body>

<div id="banner">
<h1><a href="http://www.turtlehead.co.uk/">WMAmp</a></h1>
<div class="description">Enchanced image for the linksys WMA11B media adapter.</div>
</div>

<div id="links">
<div class="sidetitle">Administration</div>
<div class="side">
<a href="/">Home</a><br />
<a href="/status">Status</a><br />
<a href="/general">General</a><br />
<a href="/network">Network</a><br />
<a href="/version">Version</a><br />
<a href="/ps">Process List</a><br />
<a href="/dmesg">Kernel Messages</a><br />
</div>


<div class="sidetitle">Music</div>
<div class="side">
<a href="/browse">Browse</a><br />
<a href="/nowplaying">Now Playing</a><br />
<a href="/nowplaying.xml">Now Playing xml</a><br />
</div>
<div class="sidetitle">Other stuff</div>
<div class="side">
<a href='/credits'>Credits</a><br />
<a href='http://www.gnu.org/copyleft/gpl.html'>License</a><br />
<a href='http://www.turtlehead.co.uk'>Turtle Head</a><br />
</div>
</div>

